@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}
html,
body,
#root {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Prevents overflow on the x-axis */
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff9f0d !important;
  background-color: #473c33 !important;
  border-radius: 50% !important;
  height: 2rem;
  width: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  font-weight: 700;
}

.swiper-pagination-bullet {
  background-color: #ff9f0d;
  font-size: 4rem;
}
.my-masonry-grid {
  display: flex;
  margin-left: -10px; /* Ajustez l'espacement horizontal ici */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px; /* Ajustez l'espacement horizontal ici */
  background-clip: padding-box;
}

.grid-item {
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
#lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}

.close {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.lightbox-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.lightbox-nav button {
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.lightbox-nav button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #ec008c;
  transform-origin: 0%;
  z-index: 9999;
}
